<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.csseproject">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Csseproject">
        <activity
            android:name=".CartActivity"
            android:exported="true" />
        <activity
            android:name=".UpdateProfile"
            android:exported="true" />
        <activity
            android:name=".Changeprofile"
            android:exported="true" />
        <activity
            android:name=".ChangePassword"
            android:exported="true" />
        <activity
            android:name=".ForgotPassword"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Registration"
            android:exported="true" />
        <activity android:name=".AcceptOrders" />
        <activity android:name=".Dashboard" />
        <activity android:name=".AddInquiry" />
        <activity android:name=".ViewOrderItem" />
        <activity android:name=".CheckItemsOrder" />
        <activity android:name=".ViewItem" />
        <activity android:name=".SpecificOrderItem" />
        <activity android:name=".ViewOrder" />
        <activity android:name=".ViewAllItems" />
        <activity android:name=".ItemView" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>